@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.text-align-left {
  text-align: left;
}

.padding {
  padding: 23px;
}

.padding2 {
  padding: 3px;
}

.white {
	color: white;
}

.middle-w3l {
	width: auto; 
	background: url(../img/fotolia-volunteer-image-for-vol-resource-center1.jpg) no-repeat fixed;
	background-size: cover;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 5%;
	padding-right: 5%;
	background-position: center top;
}